@{
    ViewData["Title"] = "About";
}
<h2>Kennel Manager</h2>


<p>This application is a project written for class to show some of the items learned in class.  This is an ASP.Net Core application utitlizing Bootstrap 3.3.7 and javascript.</p>
