@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<address>
    <strong>My email address:</strong> <a href="mailto:nb_workrt@yahoo.com">nb_workrt@yahoo.com</a><br />
</address>
